body {
  background-color: #d45a13;
  padding-left: 16px;
  padding-right: 16px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  text-align: center;
  border: 1px solid #000000;
  border-radius: 10px;
  background-color: #FFFFFF;
  margin-bottom: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
}

li:hover {
  background-color: #555;
  color: white;
}
.content{
}
#description{
  border: 1px solid #000000;
  border-radius: 10px;
  background-color: #FFFFFF;
  height: 100vh;
  bottom: 0;
  padding-top: 50%;
  text-align: center;

}
